/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap'); */

:root {
  --font-family-primary: 'Mukta', sans-serif;

  --color-almostWhite: #FCFCFC;
  --color-veryLightGray: #F5F5F5;
  --color-veryLightBlue: #C2CED1;
  --color-darkerGray: #AEAEAE;
  --color-darkGray: #818181;
  --color-unsaturatedBlue: #4A6065;
  --color-almostBlack: #012229;

  --font-size-l: 45px;
  --font-size-m: 24px;
  --font-size-s: 18px;
  --font-size-xs: 14px;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;  
  line-height: 40px;
  text-align: left;
  background-color: #FCFCFC;
}

h1 {
  font-size: var(--font-size-l);
  line-height: 75px;
  color: var(--color-almostBlack);
  margin: 0;
}

h2 {
  font-size: var(--font-size-m);
  color: var(--color-almostBlack);
}

p {
  font-size: var(--font-size-s);
  color: var(--color-almostBlack);
  line-height: 35px;
}

span {
  font-size: var(--font-size-xs);
  line-height: 30px;
  color: var(--color-darkGray);

}

.wrapper {
  height: 100vh;
  position: relative;
}

.square {
  width: 680px;
  height: 500px;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translate(-50%, -50%);
  background: var(--color-veryLightBlue);
  border: 0.5px solid var(--color-darkerGray);
  box-sizing: border-box;
  border-radius: 5px;
}

#card {
  position: absolute;
  top: 63px;
  left: 60px;
}

/** HEADER ***/
#header {
  width: 560px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#toggls {
  display: flex;
  flex-direction: row;
  width: 80px;
  justify-content: space-between;
}

/** CONTACT ***/
#contact {
  margin-top: 60px;
}

#contact a {
  color: var(--color-almostBlack);  
  font-size: var(--font-size-s);
}

#contactIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100px;
  margin-top: 10px;
}
